# Confluence Configuration
CONFLUENCE_URL=https://manojskrdev-1757832485500.atlassian.net
CONFLUENCE_USERNAME=manoj.skr.dev@gmail.com
CONFLUENCE_API_TOKEN=ATATT3xFfGF0CPabSPoc5WxV8lGouwx8bPLQHax9RdYbRJmiTiVOsb_hexvoVzhEb_u6IRSYYg9dJ6jMFN-HUuTlP8hm7fdZ7i9EA8mXha3vPMhpGwx1gQv9Cpr03xo-48XgNsXUswt9UQ1cNesBv42bm7acdlNd_nXIm8JKsE-Mz72FB5yaPio=1B34CCCE
CONFLUENCE_CLOUD=true

# AWS Configuration (if not using default credentials)
AWS_REGION=us-east-1